SandboxDatabaseManagerService/SandboxDatabaseManagerServiceTester/Service References/DatabaseFrontendService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SandboxDatabaseManagerService" />
  <xs:element name="GetPerformanceCounterResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceCounterResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SandboxDatabaseManagerService" minOccurs="0" name="GetPerformanceCounterResultResult" nillable="true" type="q1:PerformanceCounterResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>